* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #eef8f0;
    color: #164d2b;
}

.login-page {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 35px;
}


/* College Header */

.college-header {
    text-align: center;
    margin-bottom: 25px;
}

.college-header h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.college-header img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 12px;
}

.college-header h2 {
    font-size: 20px;
    letter-spacing: 1px;
}

.college-header p {
    font-size: 16px;
    margin-top: 5px;
}


/* Login Card */

.login-card {
    width: 380px;
    background: white;

    padding: 30px 35px;

    border-radius: 12px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.login-card h3 {
    text-align: center;
    font-size: 24px;

    margin-bottom: 25px;
}


/* Labels */

.login-card label {
    display: block;

    font-size: 14px;
    font-weight: bold;

    margin-bottom: 7px;
    margin-top: 15px;
}


/* Select & Input */

.login-card select,
.login-card input {
    width: 100%;

    padding: 12px;

    border: 1px solid #cbd8ce;
    border-radius: 7px;

    font-size: 14px;

    outline: none;
}

.login-card select:focus,
.login-card input:focus {
    border-color: #2f7d46;
}


/* Password */

.password-box {
    position: relative;
}

.password-box input {
    padding-right: 45px;
}

.password-box button {
    position: absolute;

    right: 8px;
    top: 50%;

    transform: translateY(-50%);

    border: none;
    background: transparent;

    cursor: pointer;

    font-size: 17px;
}


/* Login Button */

.login-btn {
    width: 100%;

    margin-top: 25px;

    padding: 13px;

    border: none;
    border-radius: 7px;

    background: #2f7d46;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.login-btn:hover {
    background: #256638;
}


/* Mobile */

@media (max-width: 500px) {

    .login-page {
        padding: 25px 15px;
    }

    .login-card {
        width: 100%;
        max-width: 380px;
    }

}